{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>MDS Exam</title>

<style type="text/css">
    table.ship_table{
        border-collapse: collapse; border: 1px solid #839E99; border-spacing:0;  width:90%; margin-left: 5%;}
        .ship_table th,td{padding: 15px; text-align: center;border: 1px solid transparent; height: 30px;
                            transition: all 0.3s;}

    .ship_table th {  background: #F3F3F3;  font-weight: bold;  }
    .ship_table td{ background: #FAFAFA;}
  #googleMap {
    width: 90%;
    height: 480px;
    background-color: #CCC;
    margin: auto;
  }

    </style>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#FFFFFF">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="{% static "Ships/img/topbkg.gif"%}">
  <tr>
    <td width="50%"><img border="0" src="{% static "Ships/img/topleft.gif" %}" width="209" height="61"></td>
  </tr>
</table>

<p style="margin-left: 20px"><font size="5" color="#B09000">Vessels info</font></p>
<p style="margin-left: 20px;"></p>
<form style="margin-left: 20px" action="." method="post">
    <div>
            {% csrf_token %}
    {{ form }}
    </div>
</form>
<table id="ship_table" class="ship_table">

</table>
<p style="margin-left: 20px;"></p>
<p style="margin-left: 20px;"><font size="5" color="#B09000">vessels location</font></p>
<p style="margin-left: 20px;"></p>

<div id="googleMap" ></div>

<p style="margin-left: 20px" align="center"><font color="#FFFFFF" face="Arial" size="1">COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></p>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="{% static "Ships/img/botbkg.gif"%}">
  <tr>
    <td width="100%"><img border="0" src="{% static "Ships/img/botbkg.gif"%}" width="38" height="13"></td>
  </tr>
</table>

</body>
<script src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(0, 0),
                zoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            for (var i=0;i<Object.keys(ships.vesselname).length;i++){
                var point = {lat:ships.latitude[i], lng:ships.longitude[i]};
                  var marker = new google.maps.Marker({
                    position: point,
                    map: map,
                    title: ''
                  });

            }

        }
        function generate_table(){

            var table = document.getElementById('ship_table');
            var tbdy = document.createElement('tbody');
            var head = Object.keys(ships);
            for(var i=0;i<head.length;i++){
                var th = document.createElement('th');
                th.appendChild(document.createTextNode(head[i]));
                tbdy.appendChild(th);
            }

            var len = Object.keys(ships.vesselname).length;
            for(var i=0;i<len;i++){
                var tr = document.createElement('tr');
                for(var j=0;j<head.length;j++){
                    var td = document.createElement('td');
                    td.appendChild(document.createTextNode(ships[head[j]][i]));
                    tr.appendChild(td);
                }
                tbdy.appendChild(tr);
            }
            table.appendChild(tbdy);
            //body.appendChild(table);

        }
            var ships = JSON.parse("{{vessels}}".replace(/&quot;/g,"\""));
            generate_table();
            google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</html>
